# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

#  build / generate output
.nuxt
dist
build
build-asmpartner
build-tramopartnerportal
build_dev_partner_tramo

# testing
/coverage



/.env.development
/.env.neo.production
/.env.production

# misc
.DS_Store



npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache
